.inner{
    position: relative;
    color:var(--white-color);

}


.title{
    display: inline-block;
    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: var(--primary-color);
}


.list{
    position: absolute;
    width: max-content;
    width: 100%;
    border-radius: 4px;
    background-color: var(--primary-color);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.inner:hover .list{
       opacity: 1;
    pointer-events: visible;
    visibility: visible; 
}

.item{
   width: 100%;
    transition: all .2s ease;
}

.link{
     display: block;
     width: 100%;
     padding: 4px 8px;
}

.item:hover{
    background-color: var(--primary-light-color);
}