.label{
    position: relative;
    width: 100%;
    padding-left:calc( 16px + 2px);
    color:var(--white-color);
}

.input{
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  opacity: 0;
  visibility: visible;
}

.checkbox{

    position: absolute;
    top: 50%;
    left: 0;

    display: flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    border:1px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    transform: translateY(-50%);
}

.icon{
    width: 16px;
    height: 16px;
}

.input:focus-visible ~ .checkbox{
    outline: 2px solid var(--white-color);
}
