

  :root {

  /* ----Colors---- */
  --primary-color: #1f1f38;
  --primary-color7: rgba(31 31 56 / 0.7);
  --primary-light-color: #35355e;
  --primary-hover-color:#434376;
  --primary-disabled-color: #626288;
  --white-color: #ffffff;
  --text-color: rgba(223 216 216);
  --overlay-color:rgba(0 0 0 / 0.6);
  --lable-text-color: var(--white-color);
  --outline-color: var(--white-color);
  --error-color: #d12020;
  --success-color:#35a94e;
  --pending-color:#efb90a;
  --social-link-color: var(--primary-light-color);

}

