
.list{
    display: flex;width: 100%;
    align-items: center;

      color:var(--white-color);
      font-size: 16px;
    gap: 4px;
    overflow-x: auto;


      white-space: nowrap;
}

.link{
    width:max-content; 
    color:var(--primary-color);
}

.last_link{
  color: var(--white-color);
}