.container{
    position: fixed;
    z-index: 10;
    font-size: 14px;
}

.bottom_right{
    right: 1rem;
    bottom: 1rem;
}


.notification{

width: 365px;
padding: 12px 20px;
border-radius: 4px;
margin-bottom: 1rem;

    animation: toast_in_right .7s ;
box-shadow: 0 0 10px rgba(0 0 0 / 0.6);
color:#ffffff;
opacity: 0.9;
transition: .3s ease;
}

.notification:hover{
    box-shadow: 0 0 12px rgba(0 0 0 / 0.6);
    opacity: 1;

}


.btn_close{
    border:none;
    background: none;
    color:#ffffff;
    cursor: pointer;
    float: right;
    opacity: 0.8;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 12px;
    gap:20px;
}

.title{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.desc{
    margin: 0;
    text-align: left;
}


@keyframes toast_in_right{
    from{
transform: translateX(100%);
    }

    to{
transform: translateX(0);
    }
}

.success{
    background-color: #358343;
}

.danger{
background-color: #B84C4B;
}

.info{
background-color: #4FBEDC;
}

.warning{
background-color: #F7AC60;
}