

  :root {

  /* ----Colors---- */
  --primary-color: #64959E;
  --primary-color7: rgba(100 149 158 / 0.7);
  --primary-light-color: #72a6af;
  --primary-hover-color:#84c0cb;
  --primary-disabled-color: #8fcad4;
  --white-color: #ffffff;
  --text-color: rgba(223 216 216);
  --overlay-color:rgba(0 0 0 / 0.6);
  --lable-text-color: var(--white-color);
  --outline-color: var(--white-color);
  --error-color: #d12020;
  --success-color:#35a94e;
  --pending-color:#efb90a;
  --social-link-color: var(--primary-color);
}

