.input{
    display: none;
}

.switch{
    position: relative;
    width: 48px;
    height: 24px;
    border:1px solid var(--text-color);
    border-radius: 20px;
    background-color: var(--text-color);
}

.decor{
    position: absolute;
    top: 3px;
    left: 3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--white-color);

    transition: all .2s ease;
}

.input:checked ~ .switch .decor{
    top: 3px;
    left: 58%;
}

.input:checked + .switch{
    border:1px solid var(--primary-color);
    background-color: var(--primary-color);
}
