
.table{
    border:1px solid var(--white-color);
    border-radius: 2px;
    color:var(--white-color);
    font-weight: 400;
}

.row{
    background-color: var(--primary-color);

}

.row:nth-of-type(even){
    background-color: var(--primary-color7);        
}

.item{
    padding: 6px 12px;
    font-weight: inherit;
}