* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #14111d;
  font-family: Helvetica, sans-serif;
}

.flex_block {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  gap: 20px;
}

.modal{
  max-width: 600px;
}

.btn_compound{
  display: flex;
  justify-content: space-between;
}

.container{
  max-width: 600px;
}